@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* LiveView specific classes */
  .phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
  }

  .phx-loading {
    cursor: wait;
  }
}
